.Header{
/* font-family: 'Poppins', sans-serif; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   background: linear-gradient(360deg, #121212 0%, rgba(18, 18, 18, 0) 100%);
   color: white;
   text-align: center;
   

}